@* @model Category *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <div class="d-flex flex-column align-items-center card p-md-2 m-xl-5"> *@
@*         <h1>Sign Up</h1> *@
@*     <form method="post" asp-action="CreateCategory" asp-controller="Admin" class="d-flex flex-column card-body"> *@
@*         <div  class="form-floating mb-3 "> *@
@*             <input type="text" class="form-control" id="category" placeholder="Category Name" asp-for="Name"> *@
@*             <label for="category">Category Name</label> *@
@*             <span asp-validation-for="Name"  style="color: red; font-size: 10px;"></span> *@
@*         </div> *@
@*         <button class="btn btn-danger m-5" type="submit">Create</button> *@
@*     </form> *@
@* </div> *@


<p>sdfsd</p>