@model Seller

@{
    ViewBag.Title = "Create Seller";
    Layout = "_Layout";
}

<div class="d-flex flex-column align-items-center card p-md-2 m-xl-5">
    <h1>New Seller</h1>
    <form method="post" asp-area="Admin" asp-action="CreateSeller" asp-controller="Seller" class="d-flex flex-column card-body">
        <div  class="form-floating mb-3 ">
            <input type="text" class="form-control"  placeholder="Seller Firstname" asp-for="FirstName">
            <label>Customer Firstname</label>
            <span asp-validation-for="FirstName"  style="color: red; font-size: 10px;"></span>
        </div>
        <div  class="form-floating mb-3 ">
            <input type="text" class="form-control"  placeholder="Seller LastName" asp-for="LastName">
            <label>Customer LastName</label>
            <span asp-validation-for="LastName"  style="color: red; font-size: 10px;"></span>
        </div>
        <div  class="form-floating mb-3 ">
            <input type="text" class="form-control"  placeholder="Seller Address" asp-for="Address">
            <label>Customer Address</label>
            <span asp-validation-for="Address"  style="color: red; font-size: 10px;"></span>
        </div>
        <div  class="form-floating mb-3 ">
            <input type="text" class="form-control"  placeholder="Seller Username" asp-for="Username">
            <label>Customer Username</label>
            <span asp-validation-for="Username"  style="color: red; font-size: 10px;"></span>
        </div>
        <div  class="form-floating mb-3 ">
            <input type="password" class="form-control"  placeholder="Seller Password" asp-for="Password">
            <label>Customer Password</label>
            <span asp-validation-for="Password"  style="color: red; font-size: 10px;"></span>
        </div>
        
        
        <button class="btn btn-danger m-5" type="submit">Create</button>
    </form>
</div>